<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exampleMapper">

    <select id="findAllFromPrice" resultType="market">
        SELECT *
        FROM market
        WHERE price >= #{price}
    </select>

    <update id="updateFromId" parameterType="market">
        UPDATE market
        SET price = #{price}
        WHERE id = #{id}
          AND name = #{name}
    </update>
</mapper>